[submodule "repos/azure-aks-kubernetes-masterclass"]
	path = repos/azure-aks-kubernetes-masterclass
	url = https://github.com/stacksimplify/azure-aks-kubernetes-masterclass.git
[submodule "repos/azure-devops-github-acr-aks-app1"]
	path = repos/azure-devops-github-acr-aks-app1
	url = https://github.com/stacksimplify/azure-devops-github-acr-aks-app1.git
[submodule "repos/azure-devops-aks-kubernetes-terraform-pipeline"]
	path = repos/azure-devops-aks-kubernetes-terraform-pipeline
	url = https://github.com/stacksimplify/azure-devops-aks-kubernetes-terraform-pipeline.git
[submodule "repos/docker-fundamentals"]
	path = repos/docker-fundamentals
	url = https://github.com/stacksimplify/docker-fundamentals.git
